<div class="relative bg-white py-12 lg:py-20 px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-md sm:max-w-3xl lg:max-w-7xl">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-16">
      <div class="lg:col-span-4">
        {{ with .heading }}
          <h2 class="text-4xl font-semibold leading-tight md:leading-tight text-gray-900 md:text-5xl">{{ . }}</h2>
        {{ end }}
        {{ with .subheading }}
          <p class="mt-8 text-gray-800 text-[1.375rem] leading-relaxed">{{ . }}</p>
        {{ end }}
        {{ with .button }}
          <div class="mt-10">
            <a href="{{ .url | relURL }}" class="inline-block px-12 py-4 bg-green-500 hover:bg-green-600 text-white text-lg rounded-lg font-medium">{{ .text }}</a>
          </div>
        {{ end }}
      </div>
      <div class="lg:col-span-8">
        <div class="grid grid-cols-1 gap-12 lg:gap-12 sm:grid-cols-2">
          {{ range .cards }}
            <div>
              <div class="inline-flex items-center justify-center text-green-500 rounded-lg bg-green-100 p-3 svg-8">
                {{ $icon := printf "%s%s%s" "icons/" .icon ".svg" }}
                {{ if templates.Exists (printf "%s%s" "partials/" $icon ) }}
                  {{ partial $icon }}
                {{ end }}
              </div>
              <h3 class="mt-5 text-2xl font-semibold text-gray-900">{{ .heading }}</h3>
              <p class="mt-4 text-gray-800 text-lg">{{ .text }}</p>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>