<div id="kurser" class="bg-white py-12 lg:py-20 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md md:max-w-3xl lg:max-w-7xl mx-auto">

    {{ if or .heading .subheading }}
      <div class="mb-12 text-center">
        {{ with .heading }}
          <h2 class="text-4xl font-semibold leading-tight md:leading-tight text-gray-900 md:text-5xl">{{ . }}</h2>
        {{ end }}
        {{ with .subheading }}
          <p class="mt-6 max-w-2xl text-[1.375rem] leading-relaxed text-gray-800 lg:mx-auto">{{ . }}</p>
        {{ end }}
      </div>
    {{ end }}

    {{ $courses := where site.RegularPages "Section" "kurser" }}
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 items-stretch">
      {{ range first 3 (where $courses ".Params.featured" "==" true) }}
        {{ partial "card-course.html" . }}
      {{ end }}
    </div>

  </div>
</div>
