<div class="py-16 lg:py-24 bg-slate-50">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">

    {{ if or .heading .subheading }}
      <div class="text-center mb-12">
        {{ with .heading }}
          <h2 class="text-3xl sm:text-4xl font-semibold leading-tight text-primary md:text-5xl">{{ . }}</h2>
        {{ end }}
        {{ with .subheading }}
          <p class="mt-6 max-w-2xl text-lg sm:text-xl text-slate-500 mx-auto">{{ . }}</p>
        {{ end }}
      </div>
    {{ end }}

    <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 lg:gap-x-12 md:gap-y-10">
      {{ range .features }}
        <div class="relative">
          <dt>
            <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-green-500 text-white">
              {{ if .icon }}
                {{ $icon := (printf "%s%s%s" "icons/" .icon ".svg" ) }}
                {{ partial $icon . }}
              {{ end }}              
            </div>
            <p class="ml-16 text-xl leading-6 font-semibold text-primary">{{ .heading }}</p>
          </dt>
          <dd class="mt-2 ml-16 text-slate-600 leading-relaxed">{{ .text | markdownify }}.</dd>
        </div>
      {{ end }}
    </dl>
  </div>
</div>
