<section class="bg-gradient-to-b from-[#F8FBFE] to-white px-4 sm:px-6 lg:px-8 overflow-hidden">
  <div class="max-w-md md:max-w-7xl mx-auto pt-10 pb-16">
    <div class="lg:flex items-center">
      <div>
        <h1 class="text-4xl sm:text-5xl font-semibold md:text-[4.25rem] leading-tight md:leading-tight text-greebg-green-500">
          {{ .heading }}
        </h1>
        {{ with .subheading }}
          <p class="mt-3 sm:mt-8 text-slate-500 md:text-xl md:leading-loose">{{ . }}</p>
        {{ end }} 
        {{ with .button }}
          <a
            {{ if eq .url "form" }} x-on:click.prevent="modalContactShow = true"{{ end }} 
            href="{{ .url | relURL }}"
            class="mt-5 sm:mt-12 px-12 py-2.5 sm:py-3.5 font-medium text-lg inline-block drop-shadow-2xl text-white bg-green-500 rounded-lg hover:bg-green-600 focus:outline-none"
          >
            {{ .text }}
          </a>
        {{ end }}
      </div>
      <div class="h-full w-full pt-10 lg:pt-0 lg:pl-24 xl:pl-32">
        {{ if .image }}
          <div class="aspect-w-16 aspect-h-16 relative">
            <div class="absolute bg-green-50 top-[12%] left-[12%] -bottom-5 -right-5 w-auto h-auto"></div>
            <img src="{{ .image | absURL }}" class="rounded-tr-[4rem] rounded-bl-[4rem] w-full h-full object-center object-cover" alt="{{ .heading }}">
          </div>
        {{ end }}        
      </div>
    </div>
  </div>
</section>
