<div class="relative bg-white py-12 lg:py-20 px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-md text-center sm:max-w-3xl">
      <h2 class="text-3xl sm:text-4xl font-semibold leading-tight text-[#020D84] md:text-5xl">{{ .heading }}</h2>
      <p class="mt-6 max-w-2xl text-lg sm:text-xl text-gray-500 lg:mx-auto">{{ .subheading }}</p>
  </div>
  <div class="mx-auto max-w-md text-center sm:max-w-3xl lg:max-w-7xl mt-16">
    <div class="grid grid-cols-1 gap-8 lg:gap-10 sm:grid-cols-2 lg:grid-cols-3">
      {{ range .cards }}
        <div class="pt-6">
          <div class="flow-root rounded-3xl bg-[#020D84] px-6 pb-8">
            <div class="-mt-8">
              <div>
                <span class="inline-flex items-center justify-center text-white rounded-xl bg-blue-600 p-3 svg-8">
                  {{ if .icon }}
                    {{ $icon := (printf "%s%s%s" "icons/" .icon ".svg" ) }}
                    {{ partial $icon . }}
                  {{ end }}
                </span>
              </div>
              <h3 class="mt-8 text-2xl font-bold text-white">{{ .heading }}</h3>
              <p class="mt-5 text-gray-200 text-lg">{{ .text }}</p>
            </div>
            <div class="text-center mt-12">
              <a href="#" class="inline-block px-12 py-3 bg-blue-400 hover:bg-blue-500 text-white rounded-md font-medium">Get started</a>
            </div>
                  
          </div>
        </div>
      {{ end }}
    </div>
      <div class="text-center mt-12">
        <a href="#" class="inline-block px-12 py-3 bg-blue-500 hover:bg-blue-500 text-white rounded-md font-medium">Get started</a>
      </div>
  </div>
</div>

<div class="relative bg-green-50 py-12 lg:py-20 px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-md text-center sm:max-w-3xl">
      <h2 class="text-3xl sm:text-4xl font-semibold leading-tight text-green-900 md:text-5xl">{{ .heading }}</h2>
      <p class="mt-6 max-w-2xl text-lg sm:text-xl text-gray-500 lg:mx-auto">{{ .subheading }}</p>
  </div>
  <div class="mx-auto max-w-md text-center sm:max-w-3xl lg:max-w-7xl mt-16">
    <div class="grid grid-cols-1 gap-8 lg:gap-10 sm:grid-cols-2 lg:grid-cols-3">
      {{ range .cards }}
        <div class="pt-6">
          <div class="flow-root rounded-3xl bg-green-900 px-6 pb-8">
            <div class="-mt-8">
              <div>
                <span class="inline-flex items-center justify-center text-white rounded-xl bg-green-600 p-3 svg-8">
                  {{ if .icon }}
                    {{ $icon := (printf "%s%s%s" "icons/" .icon ".svg" ) }}
                    {{ partial $icon . }}
                  {{ end }}
                </span>
              </div>
              <h3 class="mt-8 text-2xl font-bold text-white">{{ .heading }}</h3>
              <p class="mt-5 text-gray-200 text-lg">{{ .text }}</p>
            </div>
            <div class="text-center mt-12">
              <a href="#" class="inline-block px-12 py-3 bg-green-400 hover:bg-green-500 text-white rounded-md font-medium">Get started</a>
            </div>
                  
          </div>
        </div>
      {{ end }}
    </div>
      <div class="text-center mt-12">
        <a href="#" class="inline-block px-12 py-3 bg-green-500 hover:bg-green-500 text-white rounded-md font-medium">Get started</a>
      </div>
  </div>
</div>

<div class="relative bg-indigo-50 py-12 lg:py-20 px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-md text-center sm:max-w-3xl">
      <h2 class="text-3xl sm:text-4xl font-semibold leading-tight text-indigo-900 md:text-5xl">{{ .heading }}</h2>
      <p class="mt-6 max-w-2xl text-lg sm:text-xl text-gray-500 lg:mx-auto">{{ .subheading }}</p>
  </div>
  <div class="mx-auto max-w-md text-center sm:max-w-3xl lg:max-w-7xl mt-16">
    <div class="grid grid-cols-1 gap-8 lg:gap-10 sm:grid-cols-2 lg:grid-cols-3">
      {{ range .cards }}
        <div class="pt-6">
          <div class="flow-root rounded-3xl bg-indigo-900 px-6 pb-8">
            <div class="-mt-8">
              <div>
                <span class="inline-flex items-center justify-center text-white rounded-xl bg-indigo-600 p-3 svg-8">
                  {{ if .icon }}
                    {{ $icon := (printf "%s%s%s" "icons/" .icon ".svg" ) }}
                    {{ partial $icon . }}
                  {{ end }}
                </span>
              </div>
              <h3 class="mt-8 text-2xl font-bold text-white">{{ .heading }}</h3>
              <p class="mt-5 text-gray-200 text-lg">{{ .text }}</p>
            </div>
            <div class="text-center mt-12">
              <a href="#" class="inline-block px-12 py-3 bg-indigo-400 hover:bg-indigo-500 text-white rounded-md font-medium">Get started</a>
            </div>
                  
          </div>
        </div>
      {{ end }}
    </div>
      <div class="text-center mt-12">
        <a href="#" class="inline-block px-12 py-3 bg-indigo-500 hover:bg-indigo-500 text-white rounded-md font-medium">Get started</a>
      </div>
  </div>
</div>